.transparent-background {
  background-color: transparent !important; /* Use !important to override any other styles */
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: #333;
  display: block;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007bff;
}

/* Dropdown Styles */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

/* Add transition for smooth effect */
.navbar-nav .nav-link {
  transition: color 0.3s, background-color 0.3s; /* Add transition properties for color and background-color */
}

/* Change font color and background color on hover for all nav links */
.navbar-nav .nav-link:hover {
  color: red !important; /* Change font color to red on hover */
  background-color: white; /* Change background color to white on hover */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation: slideDown 0.5s ease;
  z-index: 1000;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
